{{#if loadingError}}
<div id="panel_loading_screen"><center>
	<p>An error happenned when loading the resources. Try again in a moment.</p>
	<button onClick="window.location.reload()">Try again</button>
</center></div>
{{else if isLoading}}
<div id="panel_loading_screen"><center><img src="loading.gif" /></center></div>
{{else}}
	<center>
		<div id="login_user_info" class="info_block">
			<table id="user_info_table">
				<tr>
					<td>
						<span id="user_pic_wrap"><img src="{{user_pic}}" style="width:60px" /></span>
					</td>
					<td>
						<span id="welcome_user_text">Welcome back, {{username}}.</span>
					</td>
					<td>
						<button id="main_log_out" {{action "logOut"}}>Log out</button>
					</td>
				</tr>
			</table>
		</div>
		<div id="tab_container">
			<div class="tab_element {{if (ifEqual chosenTab 0) "selected_tab"}}" {{action "setTab" 0}}>Profile management</div>
			<div class="tab_element {{if (ifEqual chosenTab 1) "selected_tab"}}" {{action "setTab" 1}}>Country and league management</div>
			<div class="tab_element {{if (ifEqual chosenTab 2) "selected_tab"}}" {{action "setTab" 2}}>Team management</div>
			<div class="tab_element {{if (ifEqual chosenTab 3) "selected_tab"}}" {{action "setTab" 3}}>Match management</div>
		</div>
		<div id="content_container">
			{{#if (ifEqual 0 chosenTab)}}
				{{admin-profile-edit token=token toggleElement=(action "toggleElement") showMessage=(action "showMessage")}}
			{{else if (ifEqual 1 chosenTab)}}
				{{country-league-mgm toggleElement=(action "toggleElement") showMessage=(action "showMessage") countryList=countryList leagueList=leagueList seasonList=seasonList roundList=roundList}}
			{{else if (ifEqual 2 chosenTab)}}
				{{team-season-mgm toggleElement=(action "toggleElement") showMessage=(action "showMessage") teamList=teamList countryList=countryList seasonList=seasonList}}
			{{else if (ifEqual 3 chosenTab)}}
				<p>Pending</p>
			{{/if}}
		</div>
		<hr />
	</center>
{{/if}}

{{yield}}
