{{#if isLoading}}
	<center><img src="loading.gif" /></center>
{{else if isError}}
	<center>
		{{#if errorMsg}}
		<p>{{errorMsg}}</p>
		<button onClick="window.history.back()">Go back</button>
		{{else}}
		<p>An error occurred when loading the information</p>
		<button onClick="window.location.reload()">Try again</button>
		{{/if}}
	</center>
{{else}}
	<center>
		<table id="game_view_wrap">
			<tr class="view_main_section">
				<td colspan="5">The teams</td>
			</tr>
			<tr>
				<td><img src="{{gameData.g_hometeam_crest}}" style="width:125px" /></td>
				<td><span style="font-size:50px">{{gameData.g_hometeam_goals}}</span></td>
				<td style="font-size:60px; text-align: center">-</td>
				<td style="text-align:right"><span style="font-size:50px;">{{gameData.g_awayteam_goals}}</span></td>
				<td style="text-align:right"><img src="{{gameData.g_awayteam_crest}}" style="width:125px" /></td>
			</tr>
			<tr>
				<td colspan="2" style="font-size:30px"><a href="/team/{{gameData.g_hometeam_id}}">{{gameData.g_hometeam}}</a></td>
				<td>&nbsp;</td>
				<td colspan="2" style="text-align:right;font-size:30px"><a href="/team/{{gameData.g_awayteam_id}}">{{gameData.g_awayteam}}</a></td>
			</tr>
			<tr>
				<td colspan="5" style="text-align:center">
					{{#if (ifEqual gameData.g_state 2)}}
						{{g.g_when}}
					{{else if (ifEqual gameData.g_state 12)}}
						First half
					{{else if (ifEqual gameData.g_state 22)}}
						Half-time
					{{else if (ifEqual gameData.g_state 32)}}
						Second half
					{{else if (ifEqual gameData.g_state 42)}}
						Finished
					{{else if (ifEqual gameData.g_state 52)}}
						Cancelled
					{{else}}
						Postponed
					{{/if}}
				</td>
			</tr>
			<tr class="view_main_section">
				<td colspan="5">The game</td>
			</tr>
			<tr>
				<td colspan="5">
					<table id="game_event_table">
						{{#each gameData.events as |e|}}
							<tr>
								{{#if (ifEqual e.e_team gameData.g_hometeam_id)}}
									<td>
										{{#if (ifEqual e.e_type 0)}}
											<img src="game/goal.png" style="width:10px" />
										{{else}}
											<img src="game/card{{e.e_attr}}.png" style="width:15px" />
										{{/if}}
									</td>
									<td>{{e.e_minute}}'</td>
									<td>
										{{e.e_player_name}}
									</td>
								{{else}}
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								{{/if}}
								{{#if (ifEqual e.e_team gameData.g_awayteam_id)}}
									<td style="text-align:right">
										{{e.e_player_name}}
									</td>
									<td>{{e.e_minute}}'</td>
									<td>
										{{#if (ifEqual e.e_type 0)}}
											<img src="game/goal.png" style="width:10px" />
										{{else}}
											<img src="game/card{{e.e_attr}}.png" style="width:15px" />
										{{/if}}
									</td>
								{{else}}
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								{{/if}}
							</tr>
						{{/each}}
					</table>
				</td>
			</tr>
			<tr class="view_main_section">
				<td colspan="5">More information</td>
			</tr>
			<tr>
				<td colspan="5">Stadium: {{gameData.g_stadium}}</td>
			</tr>
		</table>
	</center>
{{/if}}

{{yield}}
