<div id="game_mgm_h" class="panel_block_header" {{action "toggleElement" "#game_mgm_h"}}>
	Game management<img class="expand_arrow" src="arrow.png" style="width:25px;"/>
</div>
<div id="game_mgm_c" class="panel_block_content">
	<table class="admin_panel_table">
		{{#unless selectedEGame}}
			{{#unless selectedSeason}}
				<tr>
					<td colspan="2">
						<select id="ch_game_season" onChange={{action "loadSeason"}}>
							<option selected disabled>Choose a season</option>
							{{#each seasonList as |s|}}
								<option value={{s.s_id}}>{{s.s_desc}}</option>
							{{/each}}
						</select>
					</td>
				</tr>
			{{else}}
				<tr>
					<td>Season:</td>
					<td>{{selectedSeason.s_desc}}</td>
				</tr>
				{{#unless selectedSRounds}}
				<tr>
					<td colspan="2">There are no rounds created for this season</td>
				</tr>
				{{else}}
				<tr>
					<td colspan="2">
						{{#with (arrayElement selectedSRounds selectedSRoundEl) as |r|}}
							<center>
								<div class="exp_subsection_h" id="ch_ground_wrap">
									<img class="left_arrow" src="arrow2.png" style="width:25px" {{action "scrollList" -1}}/><img class="right_arrow" src="arrow2.png" style="width:25px" {{action "scrollList" 1}}/><span>{{r.r_desc}}</span>
								</div>
								<div class="exp_subsection_c" style="display:initial">
									<table class="admin_panel_table">
										<tr>
											<td colspan="2" style="text-align:center"><button {{action "loadGame" -1}}>Create game</button></td>
										</tr>
										{{#unless selectedSRGames}}
											<tr>
												<td colspan="2">There are no games created for this round</td>
											</tr>
										{{else}}
											{{#each selectedSRGames as |g|}}
												<tr>
													<td><span style="float:left"><img src="{{g.g_hometeam_crest}}" style="width:18px" />{{g.g_hometeam}}</span><span style="float:right">{{g.g_awayteam}}<img src="{{g.g_awayteam_crest}}" style="width:18px" /></span></td>
													<td><button {{action "loadGame" g.g_id}}>Modify</button></td>
												</tr>
											{{/each}}
										{{/unless}}
									</table>
								</div>
							</center>
						{{/with}}
					</td>
				</tr>
				{{/unless}}
				<tr>
					<td colspan="2"><button {{action "discardChanges" "game"}}>Discard changes</button></td>
				</tr>
			{{/unless}}
		{{else}}
			<tr>
				<td>Home team</td>
				<td>
					<select id="ch_home_game">
						<option disabled selected value=-1>Choose one team</option>
						{{#each selectedSTeams as |t|}}
							{{#if (ifEqual t.t_id selectedEGame.g_hometeam_id)}}
								<option class="team" value={{t.t_id}} selected style="background-image:url({{t.t_crest}})">{{t.t_name}}</option>
							{{else}}
								<option class="team" value={{t.t_id}} style="background-image:url({{t.t_crest}})">{{t.t_name}}</option>
							{{/if}}
						{{/each}}
					</select>
				</td>
			</tr>
			<tr>
				<td>Away team</td>
				<td>
					<select id="ch_away_game">
						<option disabled selected value=-1>Choose one team</option>
						{{#each selectedSTeams as |t|}}
							{{#if (ifEqual t.t_id selectedEGame.g_awayteam_id)}}
								<option class="team" value={{t.t_id}} selected style="background-image:url({{t.t_crest}})">{{t.t_name}}</option>
							{{else}}
								<option class="team" value={{t.t_id}} style="background-image:url({{t.t_crest}})">{{t.t_name}}</option>
							{{/if}}
						{{/each}}
					</select>
				</td>
			</tr>
			<tr>
				<td>Date and time:</td>
				<td><input type="datetime-local" id="ch_when_game" value={{selectedEGame.g_when}} /></td>
			</tr>
			{{#if newGame}}
			<tr>
				<td><button {{action "saveChanges" "game"}}>Save changes</button></td>
				<td><button {{action "discardChanges" "gameEdit"}}>Discard changes</button></td>
			</tr>
			{{else}}
			<tr>
				<td><button {{action "saveChanges" "game"}}>Save changes</button></td>
				<td><button class="important_func" {{action "deleteElement" "game"}}>Delete game</button></td>
			</tr>
			<tr>
				<td colspan="2"><button {{action "discardChanges" "gameEdit"}}>Discard changes</button></td>
			</tr>
			{{/if}}
		{{/unless}}
	</table>
	<div id="game_error_wrap" class="error_dsp_wrap"><span id="game_success" class="success_dsp" /><span id="game_error" class="error_dsp" /></div>
</div>
<hr />
<div id="live_mgm_h" class="panel_block_header" {{action "toggleElement" "#live_mgm_h"}}>
	Live management<img class="expand_arrow" src="arrow.png" style="width:25px;"/>
</div>
<div id="live_mgm_c" class="panel_block_content">
	{{#unless selectedLGame}}
		<select id="live_season_select" onChange={{action "loadRounds"}}>
			<option disabled selected>Choose a season</option>
			{{#each seasonList as |s|}}
				<option value={{s.s_id}}>{{s.s_desc}}</option>
			{{/each}}
		</select>
		{{#if selectedLRounds}}
			{{#with (arrayElement selectedLRounds selectedLRoundEl) as |r|}}
				<center>
					<div class="exp_subsection_h" id="ch_lround_wrap">
						<img class="left_arrow" src="arrow2.png" style="width:25px" {{action "scrollListLive" -1}}/><img class="right_arrow" src="arrow2.png" style="width:25px" {{action "scrollListLive" 1}}/><span>{{r.r_desc}}</span>
					</div>
					<div class="exp_subsection_c" style="display:initial">
						<table class="admin_panel_table">
							{{#unless selectedLRGames}}
								<tr>
									<td colspan="2">There are no games created for this round</td>
								</tr>
							{{else}}
								{{#each selectedLRGames as |g|}}
									<tr>
										<td><span style="float:left"><img src="{{g.g_hometeam_crest}}" style="width:18px" />{{g.g_hometeam}}</span><span style="float:right">{{g.g_awayteam}}<img src="{{g.g_awayteam_crest}}" style="width:18px" /></span></td>
										<td><button {{action "showLiveGame" g.g_id}}>Modify</button></td>
									</tr>
								{{/each}}
							{{/unless}}
						</table>
					</div>
				</center>
			{{/with}}
		{{else}}
		<p>There are no rounds created for this season</p>
		{{/if}}
	{{else}}
		{{#with selectedLGame as |g|}}
			<table class="admin_panel_table">
				<tr>
					<td colspan="4" style="text-align:center"><img src="{{g.g_hometeam_crest}}" style="width:18px" />{{g.g_hometeam}} {{g.g_hometeam_goals}} - {{g.g_awayteam_goals}} {{g.g_awayteam}}<img src="{{g.g_awayteam_crest}}" style="width:18px" /></td>
				</tr>
				<tr>
					<td>Game state</td>
					<td colspan="3">
						<select id="game_state_select">
							{{#each stateList as |s|}}
								{{#if (ifEqual s.id g.g_state)}}
								<option value={{s.id}} selected>{{s.desc}}</option>
								{{else}}
								<option value={{s.id}}>{{s.desc}}</option>
								{{/if}}
							{{/each}}
						</select>
					</td>
				</tr>
				{{#unless stateLoading}}
				<tr>
					<td colspan="4"><button {{action "saveChanges" "gameState"}}>Submit state</button></td>
				</tr>
				{{else}}
				<tr>
					<td colspan="4"><img src="loading.gif" style="width:50px" /></td>
				</tr>
				{{/unless}}
				{{#unless (ifEqual g.g_state 2)}}
					<tr>
						<td colspan="4" style="text-align:left"><b>Events:</b></td>
					</tr>
					{{#if g.events}}
						{{#each g.events as |e|}}
							{{#if (ifEqual e.e_type 0)}}
								<tr>
									<td colspan="3"><img src="{{e.e_team_crest}}" style="width:20px" /><img src="game/goal.png" style="width:15px" /> {{e.e_player_name}} ({{e.e_minute}}') {{if e.e_penalty "(P.)"}}{{if e.e_attr "(O.G.)"}}</td>
									<td><button class="important_func" {{action "deleteElement" "goal" e.e_id}}>Delete</button></td>
								</tr>
							{{else}}
								<tr>
									<td colspan="3"><img src="{{e.e_team_crest}}" style="width:20px" /><img src="game/card{{e.e_attr}}.png" style="width:20px" />{{e.e_player_name}} ({{e.e_minute}}')</td>
									<td><button class="important_func" {{action "deleteElement" "card" e.e_id}}>Delete</button></td>
								</tr>
							{{/if}}
						{{/each}}
					{{else}}
						<tr>
							<td colspan="4">There are no events for this game</td>
						</tr>
					{{/if}}
					<tr>
						<td colspan="4" style="text-align:left"><b>New goal</b></td>
					</tr>
					<tr style="text-align:center">
						<td>Player</td>
						<td style="width:35%">Minute</td>
						<td>Penalty</td>
						<td>Own goal</td>
					</tr>
					<tr style="text-align:center">
						<td>
							<select id="goal_player" class="player">
								<option disabled selected value="-1">Choose player</option>
								{{#each gamePlayers as |p|}}
									<option style="background-image:url({{p.t_crest}})" value={{p.p_id}}>{{p.p_sname}}, {{p.p_name}}</option>
								{{/each}}
							</select>
						</td>
						<td style="width:35%">
							<input style="width:35%" type="number" id="goal_minute" min="0" max="95"/>
						</td>
						<td>
							<input type="checkbox" id="goal_pty" />
						</td>
						<td>
							<input type="checkbox" id="goal_own" />
						</td>
					</tr>
					{{#unless goalLoading}}
					<tr>
						<td colspan="4"><button {{action "saveChanges" "goal"}}>Save goal</button></td>
					</tr>
					{{else}}
					<tr>
						<td colspan="4"><img src="loading.gif" style="width:50px" /></td>
					</tr>
					{{/unless}}
					<tr>
						<td colspan="4" style="text-align:left"><b>New card</b></td>
					</tr>
					<tr style="text-align:center">
						<td>Player</td>
						<td style="width:35%">Minute</td>
						<td colspan="2">Card type</td>
					</tr>
					<tr style="text-align:center">
						<td>
							<select id="card_player" class="player">
								<option disabled selected value="-1">Choose player</option>
								{{#each gamePlayers as |p|}}
									<option style="background-image:url({{p.t_crest}})" value={{p.p_id}}>{{p.p_sname}}, {{p.p_name}}</option>
								{{/each}}
							</select>
						</td>
						<td style="width:35%">
							<input style="width:35%" type="number" id="card_minute" min="0" max="95"/>
						</td>
						<td colspan="2">
							<select id="card_type">
								<option selected disabled value=-1>Choose one</option>
								<option value=2>Yellow card</option>
								<option value=12>Double yellow card</option>
								<option value=22>Red card</option>
							</select>
						</td>
					</tr>
					{{#unless cardLoading}}
					<tr>
						<td colspan="4"><button {{action "saveChanges" "card"}}>Save card</button></td>
					</tr>
					{{else}}
					<tr>
						<td colspan="4"><img src="loading.gif" style="width:50px" /></td>
					</tr>
					{{/unless}}
				{{/unless}}
				<tr>
					<td colspan="4"><button {{action "discardChanges" "liveGame"}}>Change game</button></td>
				</tr>
			</table>
		{{/with}}
	{{/unless}}
	<div id="live_error_wrap" class="error_dsp_wrap"><span id="live_success" class="success_dsp" /><span id="live_error" class="error_dsp" /></div>
</div>

{{yield}}
